@CHARSET "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.article-list-content{
    height: 450;
}
ul li{
	line-height: 40px;
    border-bottom: 1px solid #eee;
    text-align: left;
}
.app-menus{
	float: left;
}
.service-navs {
    width: 238px;
    height: auto;
    text-align: left;
    background: #f6f6f6;
    border: 1px solid #e3e3e3;
    border-bottom: none;
}
.service-navs>li.actived>a {
    background: #2fa3a1;
}

.main_left{
    width: 250px;
    height: 100%;
    float:left;
    background:#2fa3a1;
    cursor:pointer;
}
.content_ul{
	width: 70%;
	height: 80%;
	margin:0 auto;
	margin-top: 20;
}